.container
{
    width: 50%;
    float:left;
}

.container-2{
    width: 50%;
    float:right;
}


.jumbotron{
    color:whitesmoke;
    text-align:center;
    background-color:black;
    
}

.panel-default>.panel-heading {
    background-color:black;
    color:whitesmoke;
}